html,
body,
#root > div {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
  overflow: hidden;
}

#root > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: auto;
  margin-right: auto;
  background-color: rgb(115, 255, 0);
}
