.restart-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  height: 20vmin;
  width: 32vmin;
  border: 2px solid #000;
  background-color: red;
}
.button-restart {
  border: 2px solid #000;
  padding: 1vmin;
  background-color: #0f0;
  cursor: pointer;
}
