.restart-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  font-size: 3vw;
  height: 25vh;
  width: 30vw;
  border: 2px solid #000;
  background-color: red;
}
.button-restart {
  border: 2px solid #000;
  padding: 2vmin;
  background-color: #0f0;
  cursor: pointer;
}
